
html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }

.grid-container{

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
    
}

.grid-container2{

    display: grid;
    grid-template-columns: auto 50% auto;
    grid-template-rows: 25em 25em auto;
    width: 100%;
    height: auto;
    scroll-snap-align: start;
}
    
h1{

    grid-column: 1;
    font-family: "Avenir Next";
    color: #B30122;
    font-size: 5em;
    text-transform: uppercase;
    position: relative;
    align-self: center;
    left: 2em;
    letter-spacing: 2px;

}

h2{

    font-family: "Avenir Next";
    color: #B30122;
    font-size: 2em;
    position: relative;
    align-self: end;
    text-align: left;
    grid-row: 1;
    grid-column: 2;

}

p1{

    font-family: "Avenir Next";
    color: #B30122;
    font-size: 1.5em;
    font-weight: normal;
    position: relative;
    align-self: center;
    text-align: left;
    grid-row: 2;
    grid-column: 2;

}

.fa-stack{
    
    position: relative;
    width: auto !important;
    grid-row: 3;
    grid-column: 1;
    align-self: center;
    left: 3em;

}

.fa{

    text-decoration: none;
    color: #B30122;
    padding-left: 1.5em;
    padding-right: 1.5em;

}